<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<meta charset="UTF-8">
	<title>글 상세보기</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<section id="container">
		<h2>글 상세 보기</h2>
		<div class="boardDetail">
			<fieldset>
				<ul>
					<li>
						<input type="text" name="title" size=62
							th:value="${board.title}" readonly>
					</li>
					<li>
						<textarea rows="8" cols="60" name="content"
							 readonly th:text="${board.content}"></textarea>
					</li>
					<!-- 첨부파일 -->
	                <li th:if="${board.originalFilename}">
	                    <label>첨부파일:</label>
	                    <a th:href="@{/boards/download/{id}(id=${board.id})}" 
	                       th:text="${board.originalFilename}"></a>
	
	                    <!-- 이미지 미리보기 (jpg/png/jpeg만 표시) -->
	                    <div th:if="${#strings.endsWith(board.originalFilename, '.jpg') 
	                                 or #strings.endsWith(board.originalFilename, '.jpeg') 
	                                 or #strings.endsWith(board.originalFilename, '.png')}"
	                         style="margin-top:10px;">
	                        <img th:src="@{'/images/' + ${board.storedFilename}}"
	                             style="width: 40%; border:1px solid #ccc; border-radius:8px;">
	                    </div>
	                </li>
					<li>
						<input type="text" name="writer" size=62 readonly
								th:value="'글쓴이: ' + ${board.writer} + '(작성일: ' 
								+ ${board.regDate} + ')' ">
					</li>
					<li>
						<input type="text" name="writer" size=62 readonly
								th:value="'조회수: ' + ${board.hits}">
					</li>
					<li>
						<div sec:authorize="isAuthenticated()">
							<th:block th:if="${#authentication.principal.name == board.writer}">
							<a th:href="@{|/boards/update/${board.id}|}"><button>수정</button></a>
							<a th:href="@{|/boards/delete/${board.id}|}"
							   onclick="return confirm('정말 삭제하시겠습니까?')"><button>삭제</button></a>
							</th:block>
					    	<a th:href="@{/boards/pages(page=${page})}"><button>목록</button></a>
					    </div>
					</li> 
				</ul>
			</fieldset>
		</div><!-- 글 상세보기 끝 -->
		
		<!-- 댓글 등록 -->
		<div id="commentWrite">
			<h4>댓글</h4>
			<div sec:authorize="isAuthenticated()">
				<ul>
					<li>
						<!--  <input type="text" id="commentWriter" placeholder="작성자"> -->
						<div sec:authorize="isAuthenticated()">
							<input type="text" id="commentWriter" 
								th:value="${#authentication.principal.name}">
						</div>
					</li>
					<li>
						<textarea id="commentContent" placeholder="내용"
							rows="3" cols="50"></textarea>
					</li>
					<li>
						<button id="commentWriteBtn" onclick="commentWrite()">등록</button>
					</li>
				</ul>
			</div>
			<div sec:authorize="!isAuthenticated()">
				<p>댓글을 작성하려면 <a th:href="@{/members/login}">[로그인]</a>하세요.</p>
			</div>
		</div>
		
		<!-- 댓글 목록 -->
		<div id="commentList">
			<table class="commentList">
				<tr>
					<th>번호</th>
					<th>작성자</th>
					<th>내용</th>
					<th>작성일</th>
				</tr>
				<tr th:each="com: ${commentList}">
					<td th:text="${com.id}"></td>
					<td th:text="${com.commentWriter}"></td>
					<td th:text="${com.commentContent}"></td>
					<td th:text="${#dates.format(com.commentDate, 
							'yyyy-MM-dd HH:mm')}"></td>
				</tr>
			</table>
		</div>
	</section>
	
<!-- 스크립트 영역 -->
<script th:inline="javascript">
    //CSRF 토큰 포함
    const token = $("meta[name='_csrf']").attr("content");
    const header = $("meta[name='_csrf_header']").attr("content");

    $(document).ajaxSend(function(e, xhr, options) {
        xhr.setRequestHeader(header, token);
    });
    
    //commentWrite() 정의
	const commentWrite = () => {
		const writer = document.getElementById("commentWriter").value;
		const content = document.getElementById("commentContent").value;
		const id = [[${board.id}]]
		//console.log("작성자: " + writer);
		//console.log("내용: " + content);
		
		$.ajax({
			//요청 방식: post, 요청 주소: /comment/save, 
			//요청데이터: 작성자, 작성내용, 게시글 번호
			type: "post",
			url: "/comment/save",
			data: {
				"commentWriter": writer,
				"commentContent": content,
				"boardId": id
			},
			success: function(res){ //res = commentDTO
				console.log("요청 성공", res);
				console.log("요청 성공", res[0].commentWriter);
				console.log("요청 성공", res[0].commentContent);
				
				//댓글 목록 출력하기
				let output = "<table class='commentList'>";
				output += "<tr><th>번호</th>";
				output += "<th>작성자</th>";
				output += "<th>내용</th>";
				output += "<th>작성시간</th></tr>";
				
				for(let i in res){
					output += "<tr>";
					output += "<td>" + res[i].id + "</td>";
					output += "<td>" + res[i].commentWriter + "</td>";
					output += "<td>" + res[i].commentContent + "</td>";
					output += "<td>" + res[i].commentDate + "</td>";
					output += "</tr>";
				}
				output += "</table>";
				document.getElementById('commentList').innerHTML = output;
				//댓글 내용 초기화
				document.getElementById('commentContent').value = "";
			},
			error: function(err){
				console.log("요청 실패", err);
			}
		});
	}
</script>
</body>
</html>