/* form/order.css */

#container{
    width: 960px;
    margin: 20px auto;
}
h2{text-align: center;}
form{
    width: 600px;
    margin: 0 auto; /* 수평 가운데 정렬 */
}
fieldset{
    margin-bottom: 16px;
    padding: 16px; /* 안쪽 여백 */
}
legend{
    font-weight: bold;
    font-size: 1.2em;
}
ul li{
    list-style: none;
    margin: 16px;
}
ul li label{
    width: 120px;
    float: left;
}
textarea{resize: none;}
input[type='submit'], input[type='reset']{
    cursor: pointer;
    padding: 8px 16px;
    margin-right: 8px;
}

