<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 가입...</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<script th:inline="javascript">
	    // 세션이 없으면 로그인 요청
	    let loginEmail = [[${session.loginEmail}]];
	    if (!loginEmail) {
	        alert("로그인이 필요합니다.");
	        location.href = "/members/login";
	    }
	</script>
	
	<section id="container">
		<h2>글쓰기</h2>
		<!-- validation -->
		<form th:action="@{/boards/write}" method="post" th:object="${boardDTO}"
				 enctype="multipart/form-data" class="writeForm">
			<div th:if="${#fields.hasAnyErrors()}">
			    <div th:each="err : ${#fields.allErrors()}"
			         th:text="${err}" class="error"></div>
			</div>
			<fieldset>
				<ul>
					<li>
						<input type="text" th:field="*{title}" size=62
								placeholder="제목">
					</li>
					<li>
						<textarea rows="8" cols="60" th:field="*{content}"
							    placeholder="내용"></textarea>
					</li>
					<li>
						<input type="file" name="uploadFile">
					</li>
					<li>
						<input type="text" name="writer" size=62
								th:value="${session.loginName}">
					</li>
					<li>
						<input type="submit" value="등록">
						<input type="reset" value="취소">
					</li>
				</ul>
			</fieldset>
		</form>
	</section>
</body>
</html>