<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 가입</title>
<style>
	ul li{list-style: none; margin: 16px;}
	ul li label{width: 80px; float: left;}
	.error{color: #f00; margin-left: 60px;}
</style>
</head>
<body>
	<section id="container">
		<h2>회원 가입</h2>
		<form th:action="@{/members/signup}" method="post" th:object="${memberDTO}">
			<div th:if="${#fields.hasAnyErrors()}" class="error">
				<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
			</div>
			<ul>
				<li>
					<label for="email">이메일</label>
					<input type="text" th:field="*{email}">
					<!--  <span th:errors="*{email}"></span>-->
				</li>
				<li>
					<label for="passwd">비밀번호</label>
					<input type="password" th:field="*{passwd}">
			        <!--<span th:errors="*{passwd}"></span>-->
				</li>
				<li>
					<label for="name">이름</label>
					<input type="text" th:field="*{name}">
					<!--<span th:errors="*{name}"></span>-->
				</li>
				<li>
					<input type="submit" value="가입">
					<input type="reset" value="취소">
				</li>
			</ul>
		</form>
	</section>