<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>Welcome~</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<section id="container">
		<div id="main">
			<h2>Good Releation - 좋은 사이</h2>
			<div class="main-pic">
				<img alt="모래시계" th:src="@{/img/time.jpg}">
			</div>
			<div class="menu">
			    <th:block sec:authorize="isAnonymous()">
					<a th:href="@{/members/login}" th:text='로그인'></a> |
				</th:block>
				<th:block sec:authorize="isAuthenticated()">
				    [<span sec:authentication="principal.name"></span>]님  
					<a th:href="@{/logout}" th:text='로그아웃'></a> |
				</th:block>
				<a th:href="@{/members/join}">회원 가입</a> |
				<a th:href="@{/members}">회원 목록</a> |
				<a th:href="@{/boards/pages}">게시판</a> |
				<a th:href="@{/admin/dashboard}">관리자</a>
			</div>
		</div>
	</section>
</body>
</html>