/* bg.css */

.menu{width: 400px; margin-left: 80px;}
.menu ul{list-style: none; padding: 0;}
.menu ul li{
  display: inline-block;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 20px;
}
.menu ul li a{text-decoration: none; color: #000;}
.box{
  width: 400px;
  height: 300px;
  border: 1px solid #ccc;
  margin-left: 50px;
}

