#content{width: 600px; margin:0 auto;}
#prod-pic{float: left; margin: 20px 10px;}
#prod-pic > img{width: 200px; height: 200px;}
.small{width: 60px; height: 60px;}
.small-pic{margin: 10px 5px;}

#desc{float:left; padding-top: 10px; margin-bottom: 40px;}
hr{clear:both;}
#desc ul li{list-style: none; line-height: 1.8;}
#desc button{margin: 16px 5px; padding: 10px; width: 100%;}
#desc a{text-decoration: none; color: blue; padding-left: 40px;}

#detail{padding: 10px; display: none;}
#detail li{font-size: 0.9em; line-height: 1.5;}
#detail h2{font-size: 1.5em; color: #bebebe; font-weight: normal;}
#detail h3{font-size: 1.1em; color: #222;}
#detail p{font-size: 0.9em; line-height: 1.5; text-align: justify;}

